################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/gravity.vcxproj.user

# build output
*.o
*.d
*.so
GitRevisionInfo.h
.depend
